h2 {
    color: #2835ec;
}

#adres {
    font-size: 30px;
}

.contact {
    font-size: 22px;
}

#contactBox {
    border: 3px dotted #1dd64a;
    border-radius: 10px;
    margin: 25px;
    padding: 25px;
}

#mapid { height: 500px; }